.heading {
    color: #d11d1dcb;
}

body {
    background-color: #320845c4;
}

button {
    background-color: rgb(21, 224, 255);
    font-variant: small-caps;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: beige;
}

.para {
    color: blue;
}

.newclass {
    background-color: green;
}